@page
@model AppleStore.Pages.CartPageModel
@using AppleStore.Models

<h2 class="my-5">Alışveriş Sepeti</h2>

@if(Model?.Carts?.Items.Count() == 0)
{
    <div class="alert alert-warning">Sepetiniz boş.</div>
}
else
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Quantity</th>
                <th>Image</th>
                <th>Item</th>
                <th>Price</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>        
           @foreach(var item in Model?.Carts?.Items ?? Enumerable.Empty<CartItem>())
            {
                <tr>
                    <td>@item.Quantity</td>
                   <td>
                        <img src="~/img/@item.Product.Image" alt="@item.Product.Title" class="img-thumbnail" style="width: 60px; height: auto;" />
                    </td>
                    <td>@item.Product.Title</td>
                    <td>@item.Product.Price</td>
                    <td>@((item.Quantity * (item.Product.Price ?? 0)).ToString()) ₺</td>
                    <td>
                      <form method="post" asp-page-handler="Remove">
                            <input type="hidden" name="ProductId" value="@item.Product.ProductId">
                            <button type="submit" class="btn btn-sm custom-btn">Delete</button>
                        </form>
                     </td>
                </tr>
            }
        </tbody>
        <tfoot>
                <tr>
                    <td colspan="3">Total:</td>
                    <td>
                        @Model?.Carts?.CalculateTotal() ₺
                    </td>
                </tr>
        </tfoot>
    </table>
}

<div>
    <a class="btn custom-btn me-2" href="/Home/List">Alışverişe Devam Et</a>  
 @if (Model.Carts != null && Model.Carts.Items.Any())
{
    <a asp-controller="Order" asp-action="Checkout" class="btn custom-btn">Siparişi Tamamla</a>
}
else
{
    <button class="btn custom-btn" disabled>Sipariş Sepeti Boş</button>
}
</div>